
/** Index Header **/
.top_wrapper_bg {
    position:absolute;
    z-index: -1;
    background-repeat: repeat-x;
}
.top_wrapper_left {
    background-image: url('../assets/banner_top_lg/banner_top_1170_left.png');

}

.top_wrapper_right {
    background-repeat: repeat-x;
    background-image: url('../assets/banner_top_lg/banner_top_1170_right.png');
}
.title {
    margin-top: 170px;
}

.force_left {
    padding-left: 0px;
}
.hero {
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 6px;

    /* box shadow */
    /* http://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.hero_bottom {
    margin-top: 20px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;

}

.hero_bottom img {
    height: 30px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}

.hero_bottom div {
    text-align: center;
}

.hero_bottom p {
    height: 100%;
}

.top_wrapper_center {
    background-image: url('../assets/banner_top_lg/banner_top_1170_center.png');
    background-repeat: no-repeat;
    padding-bottom: 0px;
    height: 513px;
    color: white;
}

/** Main **/
.navbar {
    /*margin-top:30px;*/
    width: 100%;
    background-color: #422E4B;
    color: #fff;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    border-radius: 0px;
    padding-top:10px;
}

.navbar a.no-decoration, .navbar a.no-decoration:hover{
    text-decoration: none;
    color: #fff;
}


.card {
    border-radius: 5px;
    /* Rectangle 27: */
    background: #FFFFFF;
    -moz-box-shadow:    0px 0px 6px 0px rgba(3,2,2,0.40);
    box-shadow:         0px 0px 6px 0px rgba(3,2,2,0.40);

    padding: 15px;
    line-height: 17px;

    margin-top:15px;
    margin-bottom:15px;
}

a.no-decoration, a.no-decoration:hover{
    text-decoration: none;
    color: #333;
}

.bottom_spacing {
    padding-bottom: 7px;
}

.icon-detail {
    vertical-align: middle;
}

.icon-detail img {
    display: inline-block;
    height: 14px;
}

.post-header {
    border-radius: 8px;
}


/** Footer **/


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#footer {
    /*margin-top:30px;*/
    width: 100%;
    background-color: #eee;
    color: #422E4B;
}

.text-muted {
    margin: 20px 0;
    color: #422E4B;
}

.text-muted a {
    margin-left: 10px;
    color: #422E4B;
    border-bottom: 1px dotted #422E4B;
}

.text-muted a:hover {
    text-decoration: none;
}