---
layout: default
---

<!-- Top Banner Background -->
<div class="top_wrapper_left top_wrapper_bg"></div>
<div class="top_wrapper_right  top_wrapper_bg"></div>

<div class="container" id="home_container">

    <!-- Hero -->
    <div class="top_wrapper_center">
        <div class="row">
            <div class="col-xs-10 col-md-5 col-xs-offset-1 hero">
                <h1>Julia Schwarz</h1>
                <div class="clearfix">PhD Student, Carnegie Mellon University</div>
                <p class="clearfix bottom-spacing-small">Co-founder of <a href="http://www.qeexo.com">Qeexo</a></p>

                <p>I build software that leverages artificial intelligence, computer vision and machine learning to improve user interfaces.
                    I have worked in the domains of touch and free-space input (among others), and developed a radically
                    new user interface architecture for handling inputs with uncertainty.</p>
                <p>Please see my <a href="schwarzjulia_cv_june2014.pdf"> curriculum vitae</a> for a summary of my experience and accomplishments.
                    I'm also fairly active on
                    <a href="http://scholar.google.com/citations?user=Qdzson8AAAAJ&hl=en" target="_blank">Google Scholar</a>,
                    <a href="http://www.github.com/julenka" target="_blank">GitHub</a>,
                    <a href="http://www.twitter.com/julenka" target="_blank">Twitter</a>,
                    <a href="http://stackoverflow.com/users/809040/julenka" target="_blank">StackOverflow</a>,
                    and
                    <a  href="https://www.linkedin.com/profile/view?id=27272275" target="_blank">LinkedIn</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
            <h2> Publications <small> my output as a PhD student</small></h2>
        </div>
    </div>
    {% for page in site.categories.publications %}
        <div class="row">
                {% if forloop.index > 1 %}
                <div class="col-sm-10 col-sm-offset-1">
                    <hr>
                </div>
                {% endif %}
                <div class="col-sm-10 col-sm-offset-1 card">

                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <a href="{{page.url}}" >
                                <img src="{{site.baseurl}}/{{page.icon}}" class="img-responsive center-block side-img">
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <div class="top-spacing bottom-spacing visible-xs"></div>
                            <a href="{{page.url}}" class="no-decoration">
                                <div><h3> {{ page.title }}  </h3></div>
                            </a>
                                <div class="clearfix light">{{ page.authors }}</div>
                                <div class="clearfix bottom-spacing-small light">{{ page.proceedings }}</div>
                                <div class="clearfix bottom-spacing-small ">{{ page.excerpt }} </div>

                            <div class="clearfix">
                                {% if page.paper %}

                                <a href="{{site.baseurl}}/{{page.paper}}">
                                    <span class="glyphicon glyphicon-file"></span>
                                    paper</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.demo_video %}
                                <a href="{{ page.demo_video }}">
                                    <span class="glyphicon glyphicon-film"></span>
                                    video summary</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.talk_video %}
                                <a href="{{ page.talk_video }}">
                                    <span class="glyphicon glyphicon-film"></span>
                                    talk</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.presentation_pdf %}
                                <a href="{{site.baseurl}}/{{page.presentation_pdf}}">
                                    <span class="glyphicon glyphicon-file"></span>
                                    slides</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.presentation_keynote %}
                                <a href="{{site.baseurl}}/{{page.presentation_keynote}}">
                                    <span class="glyphicon glyphicon-file"></span>
                                    talk (keynote)
                                </a>
                                <span class="h-divider"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    {% endfor %}


    <!-- Applications & Utilities -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 ">
            <h2 id="apps"> Notable Side Projects <small>output from evenings and weekends</small></h2>
        </div>
    </div>

    {% for page in site.categories.appsandutilities %}
    <div class="row">
            {% if forloop.index > 1 %}
            <div class="col-sm-10 col-sm-offset-1">
                <hr>
            </div>
            {% endif %}
            <div class="col-sm-10 col-sm-offset-1 card">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        {% if page.override_link %}
                            <a href="{{page.override_link}}" target="_blank" class="no-decoration">
                        {% else %}
                            <a href="{{page.url}}" class="no-decoration">
                        {% endif %}
                                <img src="{{site.baseurl}}/{{page.icon}}" class="img-responsive center-block">
                        </a>

                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="top-spacing bottom-spacing visible-xs"></div>
                        {% if page.override_link %}
                            <a href="{{page.override_link}}" target="_blank" class="no-decoration">
                        {% else %}
                            <a href="{{page.url}}" class="no-decoration">
                        {% endif %}

                            <div><h3> {{ page.title }}</h3></div>
                        </a>
                            <div class="clearfi light">{{ page.authors }}</div>
                            <div class="clearfix bottom-spacing-small light">{{ page.proceedings }}</div>
                            <div class="clearfix bottom-spacing-small">{{ page.excerpt }} </div>

                        <div class="clearfix">
                            {% if page.app_link %}
                                <a href="{{page.app_link}}">
                                <span class="glyphicon glyphicon-link"></span>
                                    view in app store
                                </a>
                            <span class="h-divider"></span>
                            {% endif %}

                            {% if page.library_link %}
                            <a href="{{page.library_link}}">
                            <span class="glyphicon glyphicon-link"></span>
                                view library
                            </a>
                            <span class="h-divider"></span>
                            {% endif %}
                            {% if page.demo_video %}
                            <a href="{{ page.demo_video }}">
                                <span class="glyphicon glyphicon-film"></span>
                                video summary</a>
                            <span class="h-divider"></span>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row">

        <div class="top-spacing bottom-spacing">
        </div>

    </div>


    <div class="row">

        <div class="col-sm-offset-1 col-sm-10 ">
            <p class="force_left"> For more prior work, please see the <a href="{{site.baseurl}}/archives">archives</a>, which contain older sites and projects (before 2010).</p>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 ">
            <p class="" style="padding-bottom: 20px"> My other skills include
                <a href="https://www.youtube.com/watch?v=oFbtcwpJfrc">juggling</a>,
                <a href="https://www.youtube.com/watch?v=ux_WZ8u_ydk">skiing</a>
                , and
                <a href="http://www.chrisharrison.net/index.php/Fun/Rafting">raft-building</a>. </p>
        </div>

    </div>
</div>



<script>
    // Centers the hero element vertically in the top banner
    // Also resizes the background of the top banner appropriately
    var updateHero = function(){
        var top_height = $(".top_wrapper_center").height();
        var goal_bottom = $(".top_wrapper_center").height() / 2;
        var hero = $(".hero");
        var new_top = goal_bottom - hero.height()/2 - 30;
        var new_left = hero.offset().left;
        hero.offset({left: new_left, top: new_top});

        var window_width = $(window).width();

        // We must first update the background image before updating offsets because
        // we are using the 'background' property
        var background_center = "url('../assets/banner_top_lg/banner_top_center.jpg')";
        var background_left = "url('../assets/banner_top_lg/banner_top_left.jpg')";
        var background_right = "url('../assets/banner_top_lg/banner_top_right.jpg')";
        var bg_color =  "#654099";
        if(window_width < 770) {
            background_center = bg_color;
            background_left = bg_color;
            background_right = bg_color;
        }
        $(".top_wrapper_center").css('background', background_center);
        $(".top_wrapper_left").css('background', background_left);
        $(".top_wrapper_right").css('background', background_right);

        var hero_width;
        if(window_width >= 1200 ) {
            $(".top_wrapper_center").css('background-position', '0px 0px');
            hero_width = 1140;
        } else if(window_width >= 992 ) {
            $(".top_wrapper_center").css('background-position', '0px -513px');
            hero_width = 940;
        } else {
            $(".top_wrapper_center").css('background-position', '0px -1026px');
            hero_width = 720;
        }


        var flank_width = (window_width - hero_width) / 2;
        // we need to make sure that the left tile exactly matches the leftmost part of the image,
        // therefore we need to offset the background so that we always start on an edge, from the right
        var left_bg_tile_width = 144;
        var left_bg_offset = left_bg_tile_width - flank_width % left_bg_tile_width;
        $(".top_wrapper_left").width(window_width / 2);
        $(".top_wrapper_left").height(top_height);
        $(".top_wrapper_left").css('background-position', '-' + left_bg_offset + 'px 0px');

        $(".top_wrapper_right").width(window_width/2);
        $(".top_wrapper_right").offset({left: window_width/2, top: 0});
        $(".top_wrapper_right").height(top_height);

        // resize the top banner if our window width is in 'medium' mode

    };

    $(window).load(function(){
        updateHero();
    });

    $(window).resize(updateHero);
</script>
