---
layout: default
---

<!-- Top Banner Background -->
<div class="top_wrapper_left top_wrapper_bg"></div>
<div class="top_wrapper_right  top_wrapper_bg"></div>

<div class="container">

    <!-- Hero -->
    <div class="top_wrapper_center">
        <div class="row">
            <div class="col-xs-10 col-md-5 col-xs-offset-1 hero">
                <h1>Julia Schwarz</h1>
                <div class="clearfix">Human-Computer Interaction PhD Student</div>
                <p class="clearfix bottom_spacing">Director of R&D at Qeexo in Pittsburgh, PA</p>

                <p>
                    I specialize in building software that leverages data science, computer vision and machine learning to improve user interfaces.
                    I have worked on prototyping and implementing interfaces for both spatial and touch interfaces, focusing specifically on highly uncertain interfaces.
                </p>

                <div class="row hero_bottom">
                    <div class="col-xs-3">
                        <img src="assets/resume.svg">
                        <p>résumé</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="assets/email.svg" >
                        <p>email</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="assets/google_scholar.svg">
                        <p>
                            scholar
                        </p>
                    </div>
                    <div class="col-xs-3">
                        <img src="assets/github.svg">
                        <p>
                            github
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Publications -->
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 force_left">
            <h3> Publications </h3>
        </div>
    </div>
    {% for page in site.categories.publications %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 card">

                    <div class="row">
                        <div class="col-md-2 col-xs-3">
                            <a href="{{page.url}}" class="no-decoration">
                                <img src="{{ page.icon | prepend: site.baseurl }}" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-md-10 col-xs-9">
                            <a href="{{page.url}}" class="no-decoration">
                                <div><strong> {{ site.categories.publications.size | minus: forloop.index }}. {{ page.title }}  </strong></div>
                                <div class="clearfix">{{ page.authors }}</div>
                                <div class="clearfix bottom_spacing">{{ page.proceedings }}</div>
                                <div class="clearfix bottom_spacing hidden-sm hidden-xs">{{ page.excerpt }} </div>
                            </a>
                            <div class="clearfix">

                                <a href="{{ page.paper | prepend: site.baseurl }}" class="icon-detail">
                                    <img class="img-responsive" src="assets/resume_black.svg"> paper
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    {% endfor %}


    <!-- Applications & Utilities -->
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 force_left">
            <h3> Applications & Utilities </h3>
        </div>
    </div>

    {% for page in site.categories.appsandutilities %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 card">
            <div class="row">
                    <div class="col-md-2 col-xs-3">
                        <a href="{{page.url}}" class="no-decoration">
                            <img src="{{ page.icon | prepend: site.baseurl }}" class="img-responsive">
                        </a>

                    </div>
                    <div class="col-md-10 col-xs-9">
                        <a href="{{page.url}}" class="no-decoration">
                            <div><strong> {{ page.title }}</strong></div>
                            <div class="clearfix">{{ page.authors }}</div>
                            <div class="clearfix bottom_spacing">{{ page.proceedings }}</div>
                            <div class="clearfix bottom_spacing hidden-sm hidden-xs">{{ page.excerpt }} </div>
                        </a>
                        <div class="clearfix">
                            <a href="{{ page.link-url }}" class="icon-detail">
                                <img class="img-responsive" src="{{ page.link-icon }}"> {{ page.link-title }}
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>



<script>
    // Centers the hero element vertically in the top banner
    // Also resizes the background of the top banner appropriately
    var updateHero = function(){
        var top_height = $(".top_wrapper_center").height();
        var goal_bottom = $(".top_wrapper_center").height() / 2;
        var hero = $(".hero");
        var new_top = goal_bottom - hero.height()/2 - 30;
        var new_left = hero.offset().left;
        hero.offset({left: new_left, top: new_top});

        var window_width = $(window).width();
        $(".top_wrapper_left").width(window_width/2);
        $(".top_wrapper_left").height(top_height);
        $(".top_wrapper_right").width(window_width/2);
        $(".top_wrapper_right").offset({left: window_width/2, top: 0});
        $(".top_wrapper_right").height(top_height);

        // resize the top banner if our window width is in 'medium' mode
        if(window_width >= 1200 ) {
            $(".top_wrapper_center").css("background-image", "url('../assets/banner_top_lg/banner_top_1170_center.png')");
        } else if(window_width >= 992 ) {
            $(".top_wrapper_center").css("background-image", "url('../assets/banner_top_lg/banner_top_940_center.png')");
        } else {
            $(".top_wrapper_center").css("background-image", "url('../assets/banner_top_lg/banner_top_720_center.png')");
        }
    };

    $(window).load(function(){
        updateHero();
    });
    $(window).resize(updateHero);
</script>
