---
layout: default
---

<!-- Top Banner Background -->
<div class="top_wrapper_left top_wrapper_bg"></div>
<div class="top_wrapper_right  top_wrapper_bg"></div>

<div class="container">

    <!-- Hero -->
    <div class="top_wrapper_center">
        <div class="row">
            <div class="col-xs-10 col-md-5 col-xs-offset-1 hero">
                <h1>Julia Schwarz</h1>
                <div class="clearfix">PhD Student, Carnegie Mellon University</div>
                <p class="clearfix bottom-spacing-small">Co-founder of <a href="http://www.qeexo.com" class="no-decoration underline">Qeexo</a></p>

                <p>
                    I specialize in building software that leverages data science, computer vision and machine learning to improve user interfaces.
                    I have worked in the domains
                    <a href="{{site.baseurl}}/publications/2011/10/02/tapsense/" class="no-decoration underline">touch</a> and
                    <a href="{{site.baseurl}}/publications/2014/05/04/engagement/" class="no-decoration underline"> free-space input </a>, among others.

                </p>
                <p>
                    I have also developed a new <a href="" class="no-decoration underline"> user interface architecture</a>
                    which uses probabilities, not rules, to make decisions. This allows for the creation of
                    more intelligent interfaces that can adapt to our behaviors, predict future actions, and use context to
                    make better decisions.

                </p>

                <div class="row hero_bottom">
                    <div class="col-xs-3">
                        <a href="schwarzjulia_cv_june2014.pdf" class="no-decoration">
                            <img src="assets/resume.svg">
                            <p>cv</p>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="mailto:julia.schwarz@cs.cmu.edu" class="no-decoration">
                            <img src="assets/email.svg" >
                            <p>email</p>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="http://scholar.google.com/citations?user=Qdzson8AAAAJ&hl=en&oi=ao" class="no-decoration" target="_blank">
                            <img src="assets/google_scholar.svg">
                            <p>
                                scholar
                            </p>
                        </a>

                    </div>
                    <div class="col-xs-3">
                        <a href="https://github.com/julenka" class="no-decoration" target="_blank">
                            <img src="assets/github.svg">
                            <p>
                                github
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Publications -->
    <!--<div class="row">-->
        <!--<p class="col-xs-12"></p>-->
        <!--<div class="col-xs-10 col-xs-offset-1 force_left">-->
            <!--Jump to <a href="#apps">Applications & Utilities</a>.-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 force_left">
            <h3> Publications <small> my output as a PhD student</small></h3>
        </div>
    </div>
    {% for page in site.categories.publications %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 card">

                    <div class="row">
                        <div class="col-md-2 col-xs-3">
                            <a href="{{page.url}}" >
                                <img src="{{ page.icon | prepend: site.baseurl }}" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-md-10 col-xs-9">
                            <a href="{{page.url}}" class="no-decoration">
                                <div><strong> {{ site.categories.publications.size | minus: forloop.index | plus: 1}}. {{ page.title }}  </strong></div>
                            </a>
                                <div class="clearfix">{{ page.authors }}</div>
                                <div class="clearfix bottom-spacing-small">{{ page.proceedings }}</div>
                                <div class="clearfix bottom-spacing-small hidden-sm hidden-xs">{{ page.excerpt }} </div>

                            <div class="clearfix">
                                {% if page.paper %}
                                <span class="glyphicon glyphicon-file"></span>
                                <a href="{{site.baseurl}}/{{page.paper}}">
                                    paper</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.demo_video %}
                                <span class="glyphicon glyphicon-film"></span>
                                <a href="{{ page.demo_video }}">
                                    video summary</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.talk_video %}
                                <span class="glyphicon glyphicon-film"></span>
                                <a href="{{ page.talk_video }}">
                                    talk</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.presentation_pdf %}
                                <span class="glyphicon glyphicon-file"></span>
                                <a href="{{site.baseurl}}/{{page.presentation_pdf}}">
                                    talk</a>
                                <span class="h-divider"></span>
                                {% endif %}

                                {% if page.presentation_keynote %}
                                <span class="glyphicon glyphicon-file"></span>
                                <a href="{{site.baseurl}}/{{page.presentation_keynote}}">
                                    talk (keynote)
                                </a>
                                <span class="h-divider"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    {% endfor %}


    <!-- Applications & Utilities -->
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 force_left">
            <h3 id="apps"> Notable Side Projects <small>output from evenings and weekends</small></h3>
        </div>
    </div>

    {% for page in site.categories.appsandutilities %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 card">
            <div class="row">
                    <div class="col-md-2 col-xs-3">
                        {% if page.override_link %}
                            <a href="{{page.override_link}}" target="_blank" class="no-decoration">
                        {% else %}
                            <a href="{{page.url}}" class="no-decoration">
                        {% endif %}
                                <img src="{{ page.icon | prepend: site.baseurl }}" class="img-responsive">
                        </a>

                    </div>
                    <div class="col-md-10 col-xs-9">
                        {% if page.override_link %}
                            <a href="{{page.override_link}}" target="_blank" class="no-decoration">
                        {% else %}
                            <a href="{{page.url}}" class="no-decoration">
                        {% endif %}

                            <div><strong> {{ page.title }}</strong></div>
                        </a>
                            <div class="clearfix">{{ page.authors }}</div>
                            <div class="clearfix bottom-spacing-small">{{ page.proceedings }}</div>
                            <div class="clearfix bottom-spacing-small hidden-sm hidden-xs">{{ page.excerpt }} </div>

                        <div class="clearfix">
                            {% if page.app_link %}
                                <span class="glyphicon glyphicon-link"></span>
                                <a href="{{page.app_link}}">
                                    view in app store
                                </a>
                            <span class="h-divider"></span>
                            {% endif %}

                            {% if page.library_link %}
                            <span class="glyphicon glyphicon-link"></span>
                            <a href="{{page.library_link}}">
                                view library
                            </a>
                            <span class="h-divider"></span>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 force_left">
            <p class="force_left""> For more prior work, please see the <a href=" {{ "/archives" | prepend: site.baseurl }} ">archives</a>, which contain older sites and projects (before 2010).</p>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 force_left">
            <p class="force_left" style="padding-bottom: 20px"> My other skills include
                <a href="https://www.youtube.com/watch?v=oFbtcwpJfrc">juggling</a>,
                <a href="https://www.youtube.com/watch?v=ux_WZ8u_ydk">skiing</a>
                , and
                <a href="http://www.chrisharrison.net/index.php/Fun/Rafting">raft-building</a>. </p>
        </div>

    </div>
</div>



<script>
    // Centers the hero element vertically in the top banner
    // Also resizes the background of the top banner appropriately
    var updateHero = function(){
        var top_height = $(".top_wrapper_center").height();
        var goal_bottom = $(".top_wrapper_center").height() / 2;
        var hero = $(".hero");
        var new_top = goal_bottom - hero.height()/2 - 30;
        var new_left = hero.offset().left;
        hero.offset({left: new_left, top: new_top});

        var window_width = $(window).width();
        $(".top_wrapper_left").width(window_width/2);
        $(".top_wrapper_left").height(top_height);
        $(".top_wrapper_right").width(window_width/2);
        $(".top_wrapper_right").offset({left: window_width/2, top: 0});
        $(".top_wrapper_right").height(top_height);

        // resize the top banner if our window width is in 'medium' mode
        if(window_width >= 1200 ) {
            $(".top_wrapper_center").css("background-image", "url('../assets/banner_top_lg/banner_top_1170_center.png')");
        } else if(window_width >= 992 ) {
            $(".top_wrapper_center").css("background-image", "url('../assets/banner_top_lg/banner_top_940_center.png')");
        } else {
            $(".top_wrapper_center").css("background-image", "url('../assets/banner_top_lg/banner_top_720_center.png')");
        }
    };

    $(window).load(function(){
        updateHero();
    });
    $(window).resize(updateHero);
</script>
