<div id="footer">
    <div class="container">
        <!-- TODO: Acknowledge http://ryanfait.com/sticky-footer/ for the sticky footer -->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="text-muted">
                        <span class="hidden-xs">&copy; 2015 Julia Schwarz</span>
                        <a href="/">Home</a>
                        <!-- <a href=" /archives ">Archives</a> -->
                        <a href=" /acknowledgements ">Acknowledgements</a>
                    </p>
                </div>
            </div>

    </div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-538350-7']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>


