<div id="footer">
    <div class="container">
        <!-- TODO: Acknowledge http://ryanfait.com/sticky-footer/ for the sticky footer -->

                <p class="text-muted">Copyright &copy; 2014 Julia Schwarz
                    <a href="{{site.url}}">Home</a>
                    <a href="http://travel.juliaschwarz.net">Travel Blog</a>
                    <a href=" {{ "/archives" | prepend: site.baseurl }} ">Archives</a>
                    <a href=" {{ "/acknowledgements" | prepend: site.baseurl }} ">Acknowledgements</a>
                    <a></a>
                    <a></a>
                    <a></a>
                    Follow me on:
                    <a href="http://www.twitter.com/julenka">Twitter</a>
                    <a href="http://www.github.com/julenka">Github</a>
                    <a href="http://stackoverflow.com/users/809040/julenka">StackOverflow</a>
                </p>



    </div>
</div>

