<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div id="wrap">
    <div class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a class="no-decoration" href="{{site.url}}">
                        <img src="/assets/avatar.svg" width="30px" height="30px" style="margin-top:-8px;">
                        Julia Schwarz
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        {% if page.header_image %}
        <div class="row">
            <div class="col-xs-12">
                <img src="{{site.url}}/{{page.header_image}} " class="img-responsive post-header bottom-spacing center-block">
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h3> {{ page.title }} </h3>

                {% if page.citation %}
                    <div class="clearfix bottom-spacing-small">{{ page.citation }}</div>
                {% endif %}

                <div class="clearfix bottom-spacing">
                    {% if page.paper %}
                    <span class="glyphicon glyphicon-file"></span>
                    <a href="{{site.baseurl}}/{{page.paper}}">
                        paper</a>
                    <span class="h-divider"></span>
                    {% endif %}

                    {% if page.demo_video %}
                    <span class="glyphicon glyphicon-film"></span>
                    <a href="{{ page.demo_video }}">
                        video summary</a>
                    <span class="h-divider"></span>
                    {% endif %}

                    {% if page.talk_video %}
                    <span class="glyphicon glyphicon-film"></span>
                    <a href="{{ page.talk_video }}" target="_blank">
                        talk</a>
                    <span class="h-divider"></span>
                    {% endif %}

                    {% if page.presentation_pdf %}
                    <span class="glyphicon glyphicon-file"></span>
                    <a href="w{{page.presentation_pdf}}">
                        talk</a>
                    <span class="h-divider"></span>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ content }}

        <!-- Generate some more breathing room near the bottom -->
        <div class="row">
            <div class="col-xs-12 top-spacing bottom-spacing">

            </div>
        </div>
    </div>

    <div id="push"></div>

</div>
{% include footer.html %}
</body>
</html>