<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div id="wrap">
    <div class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a class="no-decoration" href="{{site.url}}">Julia Schwarz</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        {% if page.header_image %}
        <div class="row">
            <div class="center-block col-xs-12">

                <img src="{{site.url}}/{{page.header_image}} " class="img-responsive post-header bottom-spacing">

            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h3> {{ page.title }} </h3>

                {% if page.citation %}
                    <div class="clearfix bottom-spacing-small">{{ page.citation }}</div>
                {% endif %}

                <div class="clearfix bottom-spacing">
                    {% if page.paper %}
                    <span class="glyphicon glyphicon-file"></span>
                    <a href="{{site.baseurl}}/{{page.paper}}">
                        paper
                    </a>
                    <span class="h-divider"></span>
                    {% endif %}

                    {% if page.demo_video %}
                    <span class="glyphicon glyphicon-film"></span>
                    <a href="{{ page.demo_video }}">
                        demo
                    </a>
                    <span class="h-divider"></span>
                    {% endif %}

                    {% if page.talk_video %}
                    <span class="glyphicon glyphicon-film"></span>
                    <a href="{{ page.talk_video }}">
                        talk
                    </a>
                    <span class="h-divider"></span>
                    {% endif %}

                    {% if page.presentation_pdf %}
                    <span class="glyphicon glyphicon-file"></span>
                    <a href="{{site.baseurl}}/{{page.presentation_pdf}}">
                        talk (pdf)
                    </a>
                    <span class="h-divider"></span>
                    {% endif %}

                    {% if page.presentation_keynote %}
                    <span class="glyphicon glyphicon-file"></span>
                    <a href="{{site.baseurl}}/{{page.presentation_keynote}}">
                        talk (keynote)
                    </a>
                    <span class="h-divider"></span>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ content }}
    </div>

    <div id="push"></div>

</div>
{% include footer.html %}
</body>
</html>